@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@600;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;900&family=Source+Code+Pro:wght@600;900&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

:root {
  --bg-color: #06626e;
  --type-speed: 4s;
}

body {
  overflow-x: hidden;
  background: #101010;
  font-family: "Source Code Pro", monospace;
  height: 980px;
  width: 100vw;
}

header {
  padding-left: 120px;
  padding-top: 50px;
  max-width: 50vw;
  display: flex;
  justify-content: space-between;
}

.logo {
  position: absolute;
  width: 98px;
  height: 38px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  font-size: 25px;
  line-height: 37px;
  /* identical to box height */

  letter-spacing: -0.09em;

  color: #e2ab95;
}

/* nav bar */

ul {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
a {
  text-decoration: none;
  color: #ffffff;
  z-index: 1000;
}

li {
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 27px;
  /* identical to box height */

  letter-spacing: 0.05em;
  margin-top: 8px;
  list-style: none;
  padding: 0 25px;
}

a:hover {
  color: #ff7b00;
}

/* background boxes */

.back-square1 {
  position: absolute;
  width: 770px;
  height: 600px;
  left: 50px;
  top: 0;
  z-index: -10;
  background: #06626e;
}

.back-square2 {
  position: absolute;
  width: 550px;
  height: 545px;
  right: 50px;
  top: 435px;
  z-index: -10;

  background: #06626e;
}

.bgimg {
  z-index: -100;
  position: fixed;
  font-family: Source Code Pro;
  font-style: normal;
  font-weight: 900;
  line-height: 276px;
  letter-spacing: -0.09em;

  color: rgba(85, 84, 84, 0.048);

  transform: rotate(-21.43deg);
}
#bgim1 {
  width: 1698.33px;
  height: 276.47px;
  left: 5px;
  top: 250px;
  font-size: 200px;
}

#bgim2 {
  width: 1698.33px;
  height: 276.47px;
  left: 0px;
  top: 10px;
  font-size: 150px;
}
#bgim3 {
  width: 1698.33px;
  height: 276.47px;
  left: 200px;
  top: 450px;
  font-size: 150px;
}

/* hero text  */

.hero-container {
  display: flex;
  flex-direction: column;
  padding: 100px 120px;
  margin-right: -200px;
}

.hero-text {
  font-family: Source Code Pro;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 77px;
  color: #ffffff;
  position: relative;
  width: fit-content;
}

.hero-text::before,
.hero-text::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.hero-text::before {
  background: var(--bg-color);
  animation: typewriter var(--type-speed) steps(16) 1s forwards;
}
.hero-text::after {
  width: 0.103em;
  background: #353434;
  border-radius: 0.04em;
  animation: typewriter var(--type-speed) steps(16) 1s forwards,
    blink 700ms steps(16) infinite;
}

.para {
  width: 900px;
  padding: 90px 0 0 70px;
  font-family: Source Code Pro;
  font-style: normal;
  font-weight: medium;
  font-size: 17px;
  line-height: 27px;
  color: #f0f0f0;
  opacity: 0;
  transform: translateX(-65px);
  animation: fadeIn 1s ease calc(var(--type-speed) + 2s) forwards;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* head container */

.head,
.img-plate {
  display: flex;
}

.img-plate {
  top: 0;
  width: auto;
  overflow: hidden;
  margin-top: -150px;
  margin-bottom: 200px;
  margin-left: -380px;
}

.bowl {
  height: 300px;
  margin-top: 150px;
  margin-left: -100px;
}

.cup {
  pointer-events: none;
  z-index: -20;
  width: 475px;
  height: 550px;
  margin-top: 20px;
}

.cookies {
  z-index: -20;
  width: 475px;
  height: 400px;
  margin-top: 80px;
}

/* cta btn section */

.cta-content {
  position: relative;
  display: flex;
  justify-content: space-around;
}

.join-text {
  position: absolute;
  left: 190px;
  top: 120px;
  font-family: Source Code Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 41px;
  /* identical to box height */

  letter-spacing: -0.09em;

  color: #f8d32f;
}

.arrow {
  position: absolute;
  top: 5px;
  left: 460px;
}

.cta-card {
  top: -175px;
  right: 130px;
  position: absolute;
  display: flex;
  flex-direction: column;
}

.btn {
  position: absolute;
  top: 300px;
  left: 12px;
  width: 398px;
  height: 59.56px;
  background: linear-gradient(268.71deg, #fcc897 0%, #fa912f 100.02%);
  border-radius: 3px;
  border: none;
  font-family: Source Code Pro;
  font-style: normal;
  font-weight: 500;
  font-size: 29px;
  line-height: 41px;
  letter-spacing: -0.09em;

  color: #ffffff;
}

.btn:hover {
  background: #ff7b00;
}
